@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  @apply border-gray-700;
}

html,
body {
  @apply bg-gray-900 text-gray-50;
  font-feature-settings: "rlig" 1, "calt" 1;
}
